*.cache
*.pdb
*.dll
*.txt
*.ide-shm
*.ide
*.lock
*.suo
*.v2
*.config
!nuget.config
*.user
*.ide-wal
/**/bin
/**/obj
/.vs
/packages

*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
*.azurePubxml
*.publishproj
publish/
*.psess
*.vsp
*.vspx
*.sap


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/